<br>
<div class="row">
    <div class="col s2"></div>
        <div class="col s8 center">
            <a class="dropdown-button btn" style="width:60%" href="#" data-activates="companySelection">Select Company<i class="material-icons right">arrow_drop_down</i></a>
            <ul id="companySelection" class='dropdown-content' style="width:39%">
                {{#each Users}}
                    <li><a href="/platform/{{dataValues.id}}">{{dataValues.company}}</a></li>
                {{/each}}
            </ul>
        </div>
        <div class="col s2"></div>
</div>
<br>
<div class="row">
    <div class="col s4"></div>
    <div class="col s4 center">
        <a class="waves-effect waves-light btn" style="background-color:#5c5757; width: 60%" href="/platform/adduser/">New Client</a>
    </div>
    <div class="col s4"></div>
</div>